.header__lang-link {
  display: inline-block;
  flex-direction: row;
  width: 30px;
  height: 28px;
  color: #fff;
  line-height: 28px;
  font-size: 24px;
  font-weight: normal;
  padding: 18px 0 6px;
  text-decoration: none;
}

.header__lang-link:last-child {
  padding-left: 18px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__lang-link {
    width: 22px;
    height: 20px;
    padding: 14px 0 8px;
    line-height: 20px;
    font-size: 18px;
    font-weight: 400;
  }
    
}