.intro__list {
  list-style-type: none;
  padding-left: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

@media screen and (min-width: 320px) and (max-width:767px) {
  .intro__list {
    margin-bottom: 64px;
  }
}