.place__url-heading {
  margin: 0 0 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #aaa;
}

@media screen and (min-width: 768px) and (max-width:1023px) {
  .place__url-heading {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
  }
}

@media screen and (min-width: 320px) and (max-width:767px) {
  .place__url-heading {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
  }
}